.btn {display: block; width: 100%; outline: none; border: none; border-radius: 5px;}
.btn.gray {margin-top: 10px; background: #f5f5f5; line-height: 40px; font-size: 14px; color: #222222;}


.header {position: relative; display: flex; justify-content: space-between; align-items: center; padding: 20px 20px 14px; width: 100%; height: 60px; text-align: left;}
.header .title { font-size: 20px; font-weight: 700;}
.header .title.big {font-size: 24px; line-height: 34px;}
.header .btn_mypage {font-size: 18px;} 

.content {padding: 30px 0 0;}
.content .sub_tit {padding-bottom: 15px; font-size: 18px; line-height: 24px; color: #222222; text-align: left;}
.guide {display: block; padding-bottom: 50px;}
.guide ul {display: block;}
.guide ul li {position: relative; display: flex; align-items: center; margin-bottom: 5px; padding: 16px;  width: 100%; height: 68px; border: 1px solid #f5f5f5; border-radius: 5px;}
.guide ul li span {display: inline-block; margin-right: 16px; font-size: 20px; font-weight: 800; line-height: 29px;}
.guide ul li p {font-size: 15px; color: #222222;}
.guide ul li .img {position: absolute; width: 40px; height: 38px;  right: 21.4px;}
.guide ul li .img img {width: 100%; height: 100%;}
.guide > div {padding-top: 21px; font-size: 14px; color: #222222; text-align: left;}
.guide > div span {display: inline-block; margin-right: 7px; width: 48px; height: 26px; font-size: 14px; font-weight: 600; line-height: 27px; background: #41e3f0; color: #fff; text-align: center; border-radius: 20px;}
.address {padding: 10px 0 60px;}
.address ul li {display: flex; justify-content: space-between; padding: 17px 0px 18px; margin: 0 20px; border-bottom: 1px solid #f5f5f5;}
.address ul li:last-child {border-bottom: none;}
.address ul li div { width: 100px; text-align: left; font-size: 16px; font-weight: 800; line-height: 18px; vertical-align: top;}
.address ul li span {width: calc(100% -100px); text-align: right; line-height: 18px;}

.exchange .table_head {border-top: 1px solid #222222; border-bottom: 1px solid #f5f5f5; padding: 0 10px;}
.exchange .table_head > div {display: inline-block; font-size: 16px; font-weight: 500; line-height: 40px; color: #222222;}
.exchange .table_head > div:nth-child(1) {width: 50%; text-align: left;}
.exchange .table_head > div:nth-child(2), .exchange .table_head > div:nth-child(3) {width: 25%; text-align: right;}
.exchange > ul li {padding: 0 10px; border-bottom: 1px solid #f5f5f5;}
.exchange > ul li > div {display: inline-block; font-size: 16px; font-weight: 600; line-height: 40px; color: #222222;}
.exchange > ul li > div:nth-child(1) {width: 50%; text-align: left;}
.exchange > ul li > div:nth-child(2), .exchange > ul li > div:nth-child(3) {width: 25%; text-align: right;}
.exchange > ul li > div .country {margin-right: 5px;}

.calc .c_other select {display: inline-block; margin-right: 5px; border: 1px solid #ededed; width: 160px; height: 60px; border-radius: 5px;}
.calc .c_other > div {display: inline-block; padding: 17px 15px 16px; border: 1px solid #ededed; border-radius: 5px; width: calc(100% - 165px); height: 60px; vertical-align: top;}
.calc .c_other > div input {border: none;  outline: none; width: 100%; text-align: right; font-size: 20px; font-weight: 800; color: #222222;}
.calc .info {display: block; margin: 10px 0 15px; font-size: 14px; line-height: 18px; font-weight: 600; text-align: right;}
.calc .c_my {display: inline-block; display: flex; justify-content: space-between; padding: 17px 15px 16px; border: 1px solid #ededed; border-radius: 5px; width: 100%; height: 60px; vertical-align: top;}
.calc .c_my .img {display: inline-block; margin-right: 15px; width: 30px; height: 30px; border: 1px solid #dedede; border-radius: 50%; overflow: hidden;}
.calc .c_my .img img {width: 100%; height: 100%;}
.calc .c_my span {font-size: 16px; line-height: 32px; font-weight: 600; vertical-align: top;}
.calc .c_my input {border: none;  outline: none; width: calc(100% - 100px); text-align: right; font-size: 20px; font-weight: 800; color: #222222; vertical-align: top;}






.list_box .list {display: block;}
.list_box .list .question {position: relative; display: block; padding: 20px 20px 17.5px 45px; text-align-last: left; font-size: 16px; color: #222222; line-height: 20px; border-bottom: 1px solid #f5f5f5;}
.list_box .list .question::before {position: absolute; display: block; content: 'Q'; top: 50%; left: 25px; transform: translateY(-50%); font-size: 18px; font-weight: 800; color: #3477e2;}
.list_box .list .answer {display: none; padding: 22px 45px; background: #f5f5f5; font-size: 14px; color: #767676; line-height: 16px; text-align-last: left;}
.list_box .list .answer.on {display: block;}

